<h1>Add a new post</h1>

<div>
<%= form_for ([@city, @post]) do |f| %>
  <%= f.text_field :title, placeholder: "Post Title", :maxlength => 200 %>
  <%= f.text_area :body, placeholder: "Post Body", :minlength => 1, :allow_blank => false %>
  <%= f.submit "Save" %>
<% end %>
</div>

