<h1>Edit cities</h1>

<%= form_for @city do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :image, placeholder: "Image url" %>
  <%= f.submit "Save" %>
  <% button_to "Delete", @city, method: :delete %>
<% end %>
